.feature-course-item-2 {
  position: relative;
  z-index: 2;
  overflow: hidden;
  background: #fff;
  border: 1px solid transparent;
  padding: 37px 45px 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 4px 0px rgb(11 2 55 / 6%);
  box-shadow: 0px 2px 4px 0px rgb(11 2 55 / 6%);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.feature-course-item-2 .c-cate {
  margin: 0px 0px 15px 0px;
}

.feature-course-item-2 .c-cate {
  display: inline-block;
  height: 26px;
  background: rgba(88, 56, 252, 0.1);
  font-size: 13px;
  line-height: 0.8;
  color: #5838fc;
  font-weight: 600;
  text-align: center;
  border-radius: 30px;
  padding: 7px 14px;
  margin: 0 0 14px;
}

.feature-course-item-2 h4 {
  margin-bottom: 22px;
  color: #2c234d !important;
}

.feature-course-item-2 h4 a {
  color: inherit;
  font-family: "Open Sans", sans-serif !important;
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}

.feature-course-item-2 .fcf-bottom {
  position: relative;
  border: none;
  width: 100%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  padding: 0 0;
}

.feature-course-item-2 .fcf-bottom a {
  margin-right: 29px;
}

.fcf-bottom a {
  display: inline-block;
  font-size: 14px;
  line-height: 0.8;
  color: #5d5a67;
  font-weight: 600;
}

.feature-course-item-2 .fcf-bottom a i {
  color: #fe7c54;
}

.fcf-bottom a i {
  color: #5838fc;
  font-size: 16px;
  position: relative;
  top: 1px;
  margin-right: 10px;
}

.icon_book_alt:before {
  content: "\f02d";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

.feature-course-item-2 .fcf-bottom a:last-child {
  margin-right: 0;
}

.icon_profile:before {
  content: "\f007";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

.feature-course-item-2 .fcf-thumb {
  min-height: 202px;
  margin: 53px 0 0;
}

/*hover*/
.hover-course {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  background: #fff;
  border-radius: 10px;
  padding: 15px 45px 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.hover-course .course-price {
  color: #fe7c54;
  margin: 0 0 53px;
}

.course-price {
  display: block;
  font-size: 26px;
  line-height: 22px;
  color: #fff;
  font-weight: 600;
  margin: 0 0 75px;
}

.feature-course-item-2 .author {
  text-transform: capitalize;
}

.hover-course .author {
  margin-bottom: 40px;
}

.author {
  margin: 0 0 32px;
}

.author {
  display: inline-block;
  position: relative;
}

.feature-course-item-2 .author img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.hover-course .author a {
  color: #2c234d;
}

.author a {
  display: inline-block;
  font-size: 15px;
  /*color: #fff;*/
  line-height: 0.8;
  font-weight: 600;
  margin-left: 18px;
}

.hover-course .ratings {
  border-top: 2px dotted #c3c2c8;
  width: calc(100% + 90px);
  left: -45px;
  padding: 16px 45px 18px;
  margin: 0;
}

.rate-box .ratings i.inactive,
.ratings i.inactive {
  color: #c4c2cb;
}

.ratings i {
  font-size: 12px;
  line-height: 0.8;
  color: #fcca31;
}

.icon_star:before {
  content: "\f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
}

.feature-course-item-2:hover {
  box-shadow: 0px -3px 0px 0px #fe7c54;
}

.feature-course-item-2:hover {
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px -3px 0px 0px rgb(254 124 84);
  box-shadow: 0px -3px 0px 0px rgb(254 124 84);
  margin-top: -13px;
}

.feature-course-item-2:hover .hover-course {
  visibility: visible;
  opacity: 1;
}

.hover-course .ratings span {
  color: #7e7c87;
}

.hover-course .course-price span {
  color: #7e7c87;
}

.course-price span {
  display: block;
  font-size: 14px;
  text-decoration: line-through;
  margin: 6px 0 0;
}

.feature-course-item-2:hover .hover-course {
    visibility: visible;
    opacity: 1;
    min-height: 267px;
  }
